{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}allseasons{% endblock %}

{% block content %}


<h1>Welcome to allseasons</h1>

<h3>Find out everything you ever wanted to know about seasons!</h2>
<hr />
<div>
  <p>
    Broadly speaking, a <a href="https://en.wikipedia.org/wiki/Season">season</a> is a period of the year marked by changes in weather. Seasons exist because of the tilt in the Earth's axis.
  </p>
  <p>A set of seasons is grouped into a calendar. Seasons are also reversed in the northern and southern hemispheres, while "traditional" seasons of summer, autumn, winter and spring may be quite meaningless to those living near the Equator.
  </p>
  <p>Even these "traditional" seasons are not so simple:
    <ul>
      <li><strong>Meteorological</strong> seasons are defined in line with the Gregorian calendar (ie the calendar as we know it).</li>
      <li><strong>Astronomical</strong> seasons are defined according to the equinoxes which relate to the Earth's elliptical orbit around the sun. These dates vary a little from year to year, but the seasons largely overlap with those of meteorological seasons</li>
      </ul>
  </p>
  <p>Many cultures have developed their own calendars, too. In south Asia the <strong>Hindu</strong>, Bengali and Tamil calendars recognise six seasons of two months each. In Australia, there are different calendars of <a href="http://www.bom.gov.au/iwk/climate_culture/Indig_seasons.shtml">indigeneous seasons</a> recognised by Aboriginal and Torres Strait Islander people. 
    </p>
  <hr />
  <p class="lead">
    Want to find out the season of a particular time and place, for example your birth? You can! <a href="/convert">Calculate a season now!</a>
  </p>

</div>


{% endblock content %}
