{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Form{% endblock %}

{% block content %}


<h1>Find the season!</h1>

{# Display a form #}

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" class="form">{% csrf_token %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
  {% for form in wizard.form.forms %}
        {% bootstrap_form form %} 
        {{ form.media }}
    {% endfor %}
        {% else %}
    {% bootstrap_form wizard.form %} 
    {{ wizard.form.media }}

{% endif %}





    {% buttons %}

<button type="submit" class="btn btn-primary">
  
  {% if wizard.steps.prev %}
  {% bootstrap_icon "star" %} Submit
  {% else %}
  Next
  {% endif %}
        </button>
    {% endbuttons %}
</form>


{% endblock content %}
